* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
  }
  body {
    background-color: #7786f5;
    display:flex;
    justify-content: center;
    margin-top: 400px;
  }
  .container {
    background-color: #7786f5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
  }
  #start {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
    
  }
  .button-grid {
   border-color: #2532f0;
   border-radius: 20px;
   border-style: dotted;
   justify-content: center;
   align-items: center;
    background-color: #bb8f2f;
    padding: 50px;

  }
 #next {
  margin-top: 200px;
  font-size: 1.2em;
  padding: 1em 3em;
  background-color: #cc15ae;
  border-radius: 2em;
  cursor: pointer;
 }
  #question {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #e01a1a;
    border: none;
    outline: none;
    border-radius: 2em;
  }
  #answer-buttons {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #d31414;
    border: none;
    outline: none;
    border-radius: 2em;
  }
 #timer {
  position:relative;
  top:-200px;
  right:-300px;
  font-size: 1.2em;
  color: aliceblue;
  padding: 1em 3em;
  background-color: #09f157;
  border-radius: 2em;
  
 }
  
  #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
  }
  #word {
    font-weight: 600;
    margin: 1em 0 2em 0;
  }
  #word span {
    text-transform: uppercase;
    font-weight: 400;
  }
  .hide {
    display: none;
  }